<% if current_user? %>
  <div class="col-12">
    <h5 class="mb-3">
      Friend Requests
    </h5>

    <div class="row">
      <%= render partial: "user",
        collection: @received_requests,
        locals: {
          action: "accept"
        } %>
    </div>
  </div>

  <div class="col-12">
    <h5 class="mb-3">
      Pending Requests
    </h5>

    <div class="row">
      <%= render partial: "user",
        collection: @sent_requests,
        locals: {
          action: "cancel"
        } %>
    </div>
  </div>
<% end %>

<div class="col-12">
  <h5 class="mb-3">
      Friends
  </h5>

  <% if @friends.size > 0 %>
    <div class="row">
      <%= render partial: "user",
        collection: @friends,
        locals: {
          action: @user
        } %>
    </div>
  <% else %>
    <%= current_user? ? "You have" : "#{@user.first_name} has" %> not added any friends yet.
  <% end %>

</div>


