<% if current_user == @user %>
  <div class="col-12">
    <%= render partial: "row",
      locals: {
        heading: "Friend Requests (Received)",
        users: @received_requests,
        action: "accept"
      } %>
  </div>

  <div class="col-12">
    <%= render partial: "row",
      locals: {
        heading: "Pending Requests (Sent)",
        users: @sent_requests,
        action: "cancel"
      } %>
  </div>
<% end %>

<div class="col-12">



</div>


