<div class="col-12">
  <ul>
    <% @requests.each do |request| %>
      <li>
        <%= request.user.full_name %>
        (<%= link_to "Accept", friendships_path(friend_id: request.user), method: :post %>)
      </li>
    <% end %>
  </ul>
</div>
