<% if @received_requests.size > 0 %>
  <div class="row justify-content-center mt-4">
    <div class="col-12">
      <h5 class="mb-3">
        Friend Requests
      </h5>

      <div class="row">
        <%= render partial: "user",
          collection: @received_requests,
          locals: {
            action: "accept"
          } %>
      </div>
    </div>
  </div>
<% end %>

<% if @sent_requests.size > 0 %>
  <div class="row justify-content-center mt-4">
    <div class="col-12">
      <h5 class="mb-3">
        Pending Requests
      </h5>

      <div class="row">
        <%= render partial: "user",
          collection: @sent_requests,
          locals: {
            action: "cancel"
          } %>
      </div>
    </div>
  </div>
<% end %>

<% if @users.size > 0 %>
  <div class="row justify-content-center mt-4">
    <div class="col-12">
      <h5 class="mb-3">
        Find Friends
      </h5>

      <div class="row">
        <%= render partial: "user",
          collection: @users,
          locals: {
            action: "add friend"
          } %>
      </div>
    </div>
  </div>
<% end %>

