<div class="row justify-content-center mt-4">
  <div class="col col-sm-9 col-md-7 col-lg-6">

    <%= render "form" %>

    <div class="text-center my-2">
      - OR -
    </div>

    <%= link_to "/auth/facebook" do %>
      <%= image_tag "https://i.imgur.com/F5UeJ1T.png", id: "fb-button", class: "img-fluid" %>
    <% end %>

  </div>
</div>
