/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html, body {
  height: 100%;
}

body {
  font-size: 0.9em;
}

#profile-avatar {
  width: 150px;
  height: 150px;
  //margin: -150px 0 0 15px;
}

#profile-header {
  color: #fff;
  margin-top: -130px;
}

#profile-nav {
  margin: -21px 0 0 0;
}

#friends-avatar {
}

#friends-name {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  margin-top: -25px;
  margin-bottom: 12px;
}
